.xiaoce{width:960px;margin:0 auto;}
.xc_left{width:80%;}
.detail{background:#fff;min-height:200px;border:1px solid #ccc;margin-top:10px;}
.detail_l{width:20%}
.detail_r{width:80%;padding:10px;}
.detail_r h5{margin:10px 0px;}