.feidian{width:960px;margin:0 auto;}
.f_left{width:80%;}
.f_left_text{width:100%;height:150px;}
.f_left_text_choose{height:50px;line-height:50px;font-size:16px;border:1px solid #ccc;}
.f_left_text_choose span{padding:0px 10px;}
.f_left_text_choose button{width:80px;height:40px;text-align:center;color:#fff;font-size:16px;line-height:40px;float:right;background:#007fff;opacity:0.5;border-radius:3px;margin-top:5px;}
.choose_tab{border-bottom:1px solid #ccc;height:50px;line-height:50px;font-size:18px;text-align:center;}
.choose_tab span{margin:0px 15px;cursor:pointer;}
.choose_tab span:hover{color:#007fff;}
.choose_tab .active{color:#007fff;border-bottom:2px solid #007fff}

/*详情*/
.fdetail{min-height:200px;padding:10px;border-bottom:1px solid #ccc}
.fdetail h5{margin:10px 0px;font-size:18px;}
.fdetail p{font-size:16px;letter-spacing:1px}
